body {
    margin: 0;
    font-family: hind,sans-serif;
}
header {
    width: 100%;
    height: 4rem;
    background-color: #008080;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
header h1 {
    margin: 0;
    padding-left: 1vw;
    font-weight: 600;
}

#container {
    min-height: 41rem;
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
    align-content: stretch;
}

/*-------------Left Block------------*/

#left-block {
    float: left;
    background-color: #F5F5F5;
    border: 1px solid #DEDEDE;
}
#search-box {
    height: 4.5rem;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: start;
    border-right: 1px solid #DEDEDE;
    background-color: white;
}
.no_match_found {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DEDEDE;
    margin: 0;
    font-weight: 500;
    color: #828282;
    padding: 10px;  
}
button#new-ques {
    background-color: #0069D9;
    font-family: hind,sans-serif;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    color: white;
    margin-right: 20px;
}
button#new-ques:hover {
    box-shadow:  0 0 0 2.5px #9CCCFF;
}
input#ques_name {
    font-family: hind,sans-serif;
    height: 40px;
    width: 15vw;
    padding-left: 10px;
}
#question-list {
    width: 39vw;
    
}

.question_and_description {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DEDEDE;
    padding: 10px;
    color: #828282;
    cursor: pointer;
}
.question_and_description h2 {
    margin: 0;
    font-weight: 500;
}


/* ----------Right block---------- */
#right-block {
    padding: 40px 80px;
    margin-right: 0;
    width: 55%;
}
#right-block h1{
    margin-bottom: 0;
    font-weight: 600;
}
#right-block span{
    display: block;
    font-weight: 500;
}
#right-block input {
    font-family: hind,sans-serif;
    height: 40px;
    width: 15vw;
    padding-left: 10px;
    margin: 10px auto 5px 0;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
}
#right-block textarea {
    font-family: hind,sans-serif;
    border: 1px solid #DEDEDE;
    height: 100px;
    width: 100%;
    padding: 10px;
    margin: 5px auto 5px 0;
    border-radius: 3px;
}
#button_container {
    text-align: right;
}
#right-block button {
    direction: rtl;
    background-color: #007BFF;
    font-family: hind,sans-serif;
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    color: white;
}
#right-block button:hover {
    box-shadow:  0 0 0 2.5px #9CCCFF;
}

#questions_and_answers {
    display: none;
}

.name_and_answer {
    background-color: #F5F5F5;
    border-bottom: 1px solid #DEDEDE;
    padding: 10px;
}
.name_and_answer h2 {
    margin: 0;
    font-weight: 500;
}
.name_and_answer p {
    margin: 0;
}